@{
    ViewBag.Title = "Google Authentication";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
        </div>
    </section>
}
@if((bool)ViewBag.IsAuthorized){
    using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <p>Ok, Google signaled your permission, now I can retrieve some information from your profile.
        </p>
    
        <table>
            @foreach(KeyValuePair<string,string> kvp in @ViewBag.Result)
            {
                <tr>
                    <td>@kvp.Key</td>
                    <td>@kvp.Value</td>
                </tr>
            }
        </table>
    }
}
else
{
    <p>Sorry, google did not signaled a satisfactory response.</p>
}