@model DNOAClient.Code.OAuth2Graph 
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserInfo</h2>

<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>

      <tr>
        <td>Id</td>
        <td>@Model.FirstName</td>
    </tr>

      <tr>
        <td>Id</td>
        <td>@Model.LastName</td>
    </tr>

      <tr>
        <td>Id</td>
        <td>@Model.FullName</td>
    </tr>

      <tr>
        <td>Id</td>
        <td>@Model.Email</td>
    </tr>

 
</table>
